---

---
<!-- <span class="text-blue-700 font-medium text-sm">Frase del día</span>
<span>"El único fracaso verdadero es el abandono del esfuerzo"</span>
<span>Albert Einstein</span>

<span>Muchas gracias por visitar mí portfolio, ¡Pronto nuevas cosas!</span> -->