---
---

<section id="experience">
    <div class="mx-auto mb-20 max-w-6xl px-6 sm:px-6 lg:px-8">
        <span class="text-blue-700 font-medium text-sm mb-2">Experiencia</span>
        <div class="experience grid grid-cols-1 lg:grid-cols-2 gap-8 mb-8">
            <div class="md:block">
                <h2 class="title font-medium tracking-tighter text-4xl text-primary">Mi experiencia laboral</h2>
            </div>
            <div>
                <div class="flex gap-3 items-end">
                    <h3 class="text-xl font-medium tracking-tighter">Strategying</h3>
                    <span class="text-sm text-secondary">
                        2024 - 2025
                    </span>
                </div>
                <h3 class="text-xl text-primary font-medium tracking-tighter">Desarrollador de aplicaciones full stack</h3>
                <p class="text-secondary leading-7 mt-5 text-base">
                    Implementé soluciones web robustas y escalables utilizando el framework Laravel junto con 
                    Livewire, desarrollando componentes interactivos en tiempo real que mejoraron significativamente 
                    la experiencia de usuario. Diseñé e integré sistemas de autenticación seguros, interfaces de formularios 
                    dinámicos y módulos personalizados adaptados a necesidades específicas de negocio.
                </p>
            </div>
        </div>
    </div>

</section>