---
import { Image } from 'astro:assets'
import TechnologyCard from "../components/TechnologyCard.astro";
import photo1 from '@assets/images/VictorManuel/victormanuel_photo_1.jpg'
import photo2 from '@assets/images/VictorManuel/victormanuel_photo_2.jpg'
import { technologies } from "../data/technologies";
---

<section class="relative" id="home">
    <div class="relative flex w-full justify-center items-center">
        <div class="relative max-w-7xl mt-26 flex justify-center">
            <div class="relative flex justify-center w-full">
                <div class="relative h-39 w-39">
                    <div class="z-10 absolute -left-14 top-3">
                        <div class="cursor-grab w-34 h-34 select-none touch-none" style="transform: rotate(-9.62deg);">
                            <div class="rounded-2xl overflow-hidden w-full h-full shadow-sm">
                                <Image class="rounded-2xl object-cover" src={photo2} alt="photo">
                            </div>
                        </div>
                    </div>
                    <div class="z-5 absolute left-20 top-4">
                        <div class="cursor-grab w-34 h-34 select-none touch-none" style="transform: rotate(6.03deg);">
                            <div class="rounded-2xl overflow-hidden w-full h-full shadow-sm">
                                <Image class="rounded-2xl pointer-events-none:" src={photo1} alt="photo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative text-balance flex items-center flex-col mt-4">
        <div class="flex items-center flex-col text-center">
            <span class="text-blue-700 text-lg font-medium tracking-tighter">¡Hola!, bienvenido</span>
            <h1 class="text-primary text-6xl font-medium max-w-3xl tracking-tighter leading-14">
                Soy Víctor Manuel,
                <br> 
                desarrollador web full stack
            </h1>
        </div>
        <p class="mt-5 text-base text-center text-balance text-secondary max-w-4xl leading-7">
            Mi misión es dar vida a tus ideas en el mundo digital. A través de la tecnología y la <br> creatividad, construyo experiencias que conectan y logran resultados <br> significativos.
        </p>
    </div>
    <div class="flex justify-center mt-6">
        <a href="mailto:manuelluoficial@gmail.com">
            <button
                class="gradient-border relative isolate text-sm py-2.5 px-4 font-medium rounded-full bg-bg-tertiary text-white 
                    flex justify-center items-center gap-2 after:-z-10 after:absolute after:bg-gradient-to-b 
                    after:from-white cursor-pointer transition-all duration-200 hover:gap-3 after:to-white/0 after:opacity-16 after:inset-0 after:pointer-events-none after:rounded-full"
                style="box-shadow: 0px 1px 2px rgba(37, 17, 79, 0.1), 0px 0px 0px 1px #313133;"
            >
                <span class="tracking-tight">Trabajemos juntos</span>
                <svg width="8" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 1L5.5 5L1.5 9" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </a>
    </div>
    <div class="mx-auto mt-9 px-6 sm:px-20 lg:px-4 max-w-6xl">
        <div class="text-base font-medium mb-4">
            <span class="text-blue-700">/</span>
            <span class="text-primary tracking-tight">Tecnologías</span>
        </div>
        <div class="relative grid place-items-center grid-cols-3 gap-10 md:grid-cols-4 lg:grid-cols-8">
            {technologies.map((technology) => (
                <TechnologyCard image={technology.image} technology={technology.technology}/>
            ))}
        </div>
    </div>
    <a class="cursor-pointer hidden lg:inline absolute top-12 right-12">
        <div class="inline-flex items-center gap-1">
            <span class="font-medium text-secondary underline underline-offset-3 tracking-tight decoration-1 decoration-blue-700 text-sm">Descargar currículum</span>
        </div>
    </a>
</section>