---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'
---

<!doctype html>
<html lang="en" class="bg-bg-primary">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/victormanuel.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>victormanuel</title>
	</head>
	<body class="font-sans md:max-w-7xl lg:mx-auto min-h-screen border-x border-border-primary overflow-x-hidden">
		<Header/>
			<main class="relative">
				<div 
					class="pointer-events-none bg-gradient-to-b from-[#2E5EF4]/0 via-[#2E5EF4] to-[#2E5EF4]/0 absolute w-80 lg:w-205 lg:blur-[65px] -z-10 h-full left-1/2 transform -translate-x-1/2 blur-2xl opacity-7"
				></div>
				<slot />
			</main>
		<Footer/>
	</body>
</html>